@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LET US PLAY</h1>
    <p class="lead">LetUs Play is Great Web Based Platform To connect to your friends who wants to play with you.Let's Start playing!!</p>
    <p>
</div>

</div>
